*{
    margin:0;
    padding:0;
    font-family:'Trebuchet MS';
    box-sizing: border-box;
}
.wrap{
    width:100%;
    min-height: 100vh;
    background-image: url(../images/bg2.png);
    background-size: cover;
    overflow: hidden;
}
.navbar{
    width:85%;
    margin:auto;
    padding: 50px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    position:sticky;
}
.logo{
    width:160px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}
.navbar ul li a.active{
    color:#8c50fc;
}
.navbar ul li::after{
    content: '';
    height:3px;
    width: 0;
    background: #9621d9;
    position:absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s ease-out;
    border-radius: 2px;
}

.navbar ul li:hover::after{
    width:100%;
}

/* Gallery page */

.title{
    margin-top:30px;
    margin-left:45%;
}
.gradient-text{
    font-weight: 100;
    background-image:-webkit-linear-gradient(to bottom,rgb(189, 186, 244),rgb(113, 19, 236,1));
    background-image:linear-gradient(to top,rgb(255, 255, 255),rgb(74, 14, 225));
    background-clip:text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    
}
h3{
    font-weight: 100;
    background-image:-webkit-linear-gradient(to bottom,rgb(189, 186, 244),rgb(113, 19, 236,1));
    background-image:linear-gradient(to top,rgb(194, 122, 249),rgb(74, 14, 225));
    background-clip:text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    padding:8px;
}
.row {
    margin: 15px 14%;
    width: 70%;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  .row,
  .row > .column1 {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    margin: 8px 0px;
  }
  .column1 {
    float: left;
    width: 50%;
    margin: 8px 0px;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
  }
  .content1{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


/* contact page*/

.wrap2{
    width:100%;
    height:100vh;
    background-image: url(../images/bg2.png);
    background-size: cover;
    overflow: hidden;
}
form{
    width:375px;
    position: absolute;
    top:100px;
    left:50px;
    transition: 0.5s;
}
form label{
    font-size:16px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    color: #fff;
    margin-top: 6px;
    margin-bottom: 16px;
    outline:none;
    transition: 0.3s ease;
    border-bottom: #fff solid 2px;
    background:transparent;
  }
  ::placeholder{
    padding-bottom: 20px;
    color:rgba(240, 248, 255, 0.53);
    font-size: 16px;
}
  input[type=submit] {
    background:linear-gradient(to right,rgb(91, 9, 138),rgb(147, 2, 150));
    color: white;
    border-radius: 20px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background:linear-gradient(to right,rgb(91, 9, 138),rgb(147, 2, 150));
  }
  
  input:hover{
    border-bottom:rgb(91, 9, 231) solid 2px;
  }
  /* Style the container/contact section */
  .container {
    color: white;
    border-radius: 5px;
    position: relative;
    background-color: transparent;
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .contact-box{
    margin-top: 2.5%;
    width:1000px;
    height:570px;
    background-image: -webkit-radial-gradient(rgb(255, 255, 255,0.6));
    background-image: radial-gradient(rgb(255, 255, 255,0.6));
    box-shadow:10px 20px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    color: white;
}
  
  /* Create two columns that float next to eachother */
  .c_column{
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .c_row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .c_column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
.map{
    position: absolute;
    left: 50%;
    top: 10%;
}
iframe{
    width:450px;
    border-radius: 10px;
}

.social{
    position: absolute;
    bottom: 80px;
    right:85px;
    display:flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}
.social img{
    padding: 10px;
}

/* Events Page */
.head{
    color:white;
    margin-top: 20px;
    padding: 30px 0px;
}
.outbox{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container-event{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item-container{
    border-radius: 20px;
    position: relative;
    margin:24px;
    width:320px;
    height:570px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgb(0, 0, 0,1);
    cursor:pointer;
}

.img-container,
.body-container{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.img-container img{
    width:100%;
    margin-top: 85px;
}
.body-container{
    position: relative;
}
.overlay{
    position: relative;
    width: 100%;
    height:400px;
    background-color: rgb(140, 80, 252,0.6);
    opacity:0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay{
    opacity: 1;
    height: 150px;
}

.event-info{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:8px;
}
.main,
.price{
    color: #8c50fc;
    font-size:1.5em;
    letter-spacing: 1px;
    margin:12px;
}

.info{
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.separator{
    width:30%;
    height:6px;
    background-color: #8c50fc;
    margin-bottom: 16px;
    border-radius: 5px;
}
.additional-info{
  width:90%;
    border-top: 2px solid #8c50fc;
    margin-top: 12px;
    padding:28px;
    padding-bottom: 0;
}
.additional-info .info{
    margin-bottom: 20px;
    font-size: 0.9em;
    text-align: center;
}

.info i{
    color:#8c50fc;
    font-size: 1.1em;
    margin-right: 4px;
}
.action{
    color:#fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top:-100px;
    left:50%;
    transform: translateX(-50%);
    outline: none;
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1.5px;
    transition: background-color 0.4s, top 0.4s;

}
.item-container:hover .action{
    top:50px;
}
.action:hover{
    background-color: #8c28fe80;
}


/* Accomodation page */

.acc-content{
  background-color: transparent;
  width:66%;
    position:absolute;
    top:250px;
    left: 200px;
    text-align: left;
    color:#f5f5f5;
    font-size: 21px;
    line-height: 30px;
}
.acc-btn{
  font-size: 20px;
    font-family: 'Trebuchet MS';
    border-radius: 30px;
    width:200px;
    height:45px;
    margin: 20px;
    border:none;
    color:#fff;
    background: linear-gradient(to right,rgb(43, 22, 122),rgb(96, 7, 221));
    position: relative;
    cursor:pointer;
}

